<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<appSettings>
		<!--
			**********
			Unit Tests
			**********
		-->
		<add key="nxbre.unittest.inputfile" value="Q:/test.xbre"/>
		<add key="nxbre.unittest.inputnative" value="Q:/discount.bre"/>
		<add key="nxbre.unittest.identityxsl" value="Q:/identity.xsl"/>
		<add key="nxbre.unittest.ruleml.inputfolder" value="Q:/"/>
		<add key="nxbre.unittest.outputfolder" value="C:/Temp"/>
	</appSettings>
</configuration>
