<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<system.diagnostics>
		<switches>
			<add name="NxBRE.FlowEngine" value="Warning" />
			<add name="NxBRE.FlowEngine.RuleBase" value="Warning" />
			<add name="NxBRE.InferenceEngine" value="Warning" />
			<add name="NxBRE.Util" value="Warning" />
		</switches>
	</system.diagnostics>
	<appSettings>
		<add key="factBase.strictTyping" value="True"/>
	</appSettings>
</configuration>
