<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<!-- Trace setup: Modify at will -->
	<system.diagnostics>
		<switches>
			<add name="NxBRE.FlowEngine" value="Warning" />
			<add name="NxBRE.InferenceEngine" value="Warning" />
			<add name="NxBRE.Util" value="Warning" />
		</switches>
		<trace autoflush="true" indentsize="2">
			<listeners>
				<add name="console" type="System.Diagnostics.ConsoleTraceListener" initializeData="false"/>
			</listeners>
		</trace>
	</system.diagnostics>
	<!-- NxBRE v3 Settings -->
	<appSettings>
		<!--
			Inference Engine
		-->
		<!--
			Uncomment and modify if a different function regex is needed for the AbstractBinder
			<add key="abstractbinder.function.regex" value="^(?&lt;1>\w+)\x28((?&lt;2>[^,\x28\x29]+),?)*\x29$"/>
		-->
		<!--
			Compilation
		-->
		<add key="nxbre.referenceLinkModes" value="CurrentDomain"/>
		<!--
			Embedded resource prefix: not needed unless resources are embedded differently from VS.NET/SharpDevelop2
			<add	key="nxbre.embeddedResourcePrefix" value="NxBRE.Resources."/>
		-->
		<!--
			Unit Tests
		-->
		<add key="nxbre.unittest.inputfile" value="Q:/test.xbre"/>
		<add key="nxbre.unittest.inputnative" value="Q:/discount.bre"/>
		<add key="nxbre.unittest.identityxsl" value="Q:/identity.xsl"/>
		<add key="nxbre.unittest.outputfolder" value="C:/Temp"/>
		<add key="nxbre.unittest.ruleml.inputfolder" value="Q:"/>
	</appSettings>
</configuration>
