<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<!--

			Trace setup: Modify at will

	-->
	<system.diagnostics>
		<sources>
			<source name="NxBRE.FlowEngine" switchName="NxBRE.FlowEngine" switchType="System.Diagnostics.SourceSwitch">
				<!-- Uncomment for console outputting
				<listeners>
					<add name="console" />
					<remove name ="Default" />
				</listeners>
				-->				
			</source>
			<source name="NxBRE.FlowEngine.RuleBase" switchName="NxBRE.FlowEngine.RuleBase" switchType="System.Diagnostics.SourceSwitch">
				<!-- Uncomment for console outputting
				<listeners>
					<add name="console" />
					<remove name ="Default" />
				</listeners>
				-->				
			</source>
			<source name="NxBRE.InferenceEngine" switchName="NxBRE.InferenceEngine" switchType="System.Diagnostics.SourceSwitch">
				<!-- Uncomment for console outputting
				<listeners>
					<add name="console" />
					<remove name ="Default" />
				</listeners>
				-->				
			</source>
			<source name="NxBRE.Util" switchName="NxBRE.Util" switchType="System.Diagnostics.SourceSwitch">
				<!-- Uncomment for console outputting
				<listeners>
					<add name="console" />
					<remove name ="Default" />
				</listeners>
				-->				
			</source>
		</sources>
		<switches>
			<add name="NxBRE.FlowEngine" value="Warning" />
			<add name="NxBRE.FlowEngine.RuleBase" value="Warning" />
			<add name="NxBRE.InferenceEngine" value="Warning" />
			<add name="NxBRE.Util" value="Warning" />
		</switches>
		<!-- Uncomment for console outputting
    <sharedListeners>
      <add name="console" type="System.Diagnostics.ConsoleTraceListener" initializeData="false"/>
    </sharedListeners>
		-->
	</system.diagnostics>
	<!--

			NxBRE v3 Settings

	-->
	<appSettings>
		<!--
			Embedded resource prefix: not needed unless resources are embedded differently from VS.NET/SharpDevelop2
			<add	key="nxbre.embeddedResourcePrefix" value="NxBRE.Resources."/>
		-->
		
		<!--
			****************
			Inference Engine
			****************
		-->
		<!--
			The maximum number of iteration to perform in one process cycle.
			If this limit is reached, the engine will throw an exception.
			The default is 1000.
		-->
		<add key="nxbre.iterationLimit" value="1000"/>
		<!--
			Defines whether the engine should throw an exception in case an implication tries to assert a fact whose
			variable predicates have not all be resolved by the data returned by the atoms of the body. The default is false.
		-->
		<add key="nxbre.strictImplication" value="false"/>
		<!--
			The time-out in millisecond for acquiring a lock when hot swapping a rule base in multi-threaded environments.
			The default is 15000.
		-->
		<add key="nxbre.lockTimeOut" value="15000"/>
		<!--
			Uncomment and modify if a different function regex is needed for the AbstractBinder
			<add key="nxbre.abstractbinder.function.regex" value="^(?&lt;1>\w+)\x28((?&lt;2>[^,\x28\x29]+),?)*\x29$"/>
		-->
		<!--
			Defines whether the fact storage should consider typed objects as equivalent to their String representation.
			If StrictTyping is set to true, they are will not be considered equivalent.
			This implies that to match typed values, <Data> elements instead of <Ind> must be used in the rulebase.
			The default is false.
		-->
		<add key="nxbre.factBase.strictTyping" value="False"/>
		
		<!--
			Defines if the events raised by the engine should contain the context, i.e. the source facts, implied in the event.
		-->
		<add key="nxbre.factBase.exposeEventContext" value="False"/>
		
		<!--
			****
			Util
			****
		-->
		<!--
			Compilation (static parameter)
		-->
		<add key="nxbre.referenceLinkMode" value="CurrentDomain"/>
		<!--
			Uncomment to add a semi-colon separated list of extra DLLs to load when performing on-the-fly compilation.
		<add key="nxbre.extraReferences" value="" /> 
		-->
		<!--
			Generate In Memory Assembly (static parameter)
		-->
		<add key="nxbre.generateInMemoryAssembly" value="True"/>
		<!--
			Culture Info (static parameter)
		-->
		<add key="nxbre.cultureInfo" value="en-US"/>
		<!--
			Uncomment and modify if specific compiler options should be used by the on-the-fly compiler.

			Compiler Options (static parameter)

			<add key="nxbre.compilerOptions" value=""/>
		-->
	</appSettings>
</configuration>
